h1{
    color: #fdfaf2;
}

body{
    background-color: #fcfaf7;
    font-family: 'Public Sans', sans-serif;
}

img {
    width: 145px;
    height: 30;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1423dc;
    border-radius: 10px;
    position: sticky;
    padding: 10px;
    margin: 15px;

}
#menue{
    display: flex;
    gap: 10px;
    background-color: #1423dc;
}

button {
    font-size: 20px;
}